@import '../../variables.scss';

.search_editor {
    box-sizing: border-box;
    padding: $pt-2;
    background: $background_form_basic;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);

    h2 {
        font-size: $font_size_subtitle;
        font-weight: 700;
        //letter-spacing: -1.2px;

        margin: $m-0;
        margin-bottom: 8px;
        padding-right: 2rem;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
    }

    &-top {

        &-title {
            margin: 0;
            font-weight: 700;
            color: #4F4f4F;
            //letter-spacing: -1.2px;
        }

        &-icon {
            margin-left: $m-1;
            display: inline-block;
            vertical-align: middle;
        }

        &-input {
            position: relative;
            top: -5px;
        }
    }

    &-list {
        position: relative;
        top: -7px;
        margin-bottom: 98px;

        &-item {
            margin-bottom: 2.8px;

            .input {
                display: inline-flex;
                padding-bottom: 6px;
            }
        }
    }

    &-buttons {
        & > .button {
            margin-right: $m-2;
            letter-spacing: -.1px;
        }
    }
}